.Header {
  display: flex;
  flex-direction: row;
}

.Header img {
  height: 100px;
}

.Header .header-nav {
  position: relative;
  left: 45%;
}

.Header .header-nav ul {
  display: flex;
  margin: 10px 0 0 0;
  padding: 0;
}

.Header .header-nav ul .play {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 25px solid black;
  border-bottom: 20px solid transparent;
  position: relative;
  bottom: 5px;
}

.Header .header-nav ul .stop {
  height: 25px;
  width: 25px;
  border: 2px black solid;
}

.Header .header-nav ul .record {
  height: 25px;
  width: 25px;
  border: 2px black solid;
  border-radius: 76%;
}
