.Header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #0094d8;
  z-index: 1;
}

.Header a {
  text-decoration: none;
}

.Header .header-nav #navbar a:hover {
  background-color: #a3d3ea;
}

.Header .header-logo {
  font-family: "Audiowide", cursive;
  margin-left: 10px;
  color: #000000;
}

.Header .header-nav {
  display: flex;
  padding: 10px;
}

.Header .header-nav #navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: fixed;
  top: 41px;
  right: -205px;
  width: 205px;
  height: 50%;
  background-color: #0094d8;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  padding: 10px 0 0 10px;
  transition: 0.3s ease-in-out;
}
.Header .header-nav #navbar.active {
  right: 0px;
}

.Header .header-nav #navbar .play {
  display: flex;
}

.Header .header-nav #navbar .stop {
  display: flex;
}

.Header .header-nav #navbar .record {
  display: flex;
}

.Header p {
  display: flex;
  padding: 5px;
  color: #f2f4f1;
  font-weight: 600;
  font-family: "Patrick Hand SC", cursive;
  transition: 0.3s ease-in-out;
}

.Header p:hover {
  color: #1b419e;
}
#mobile {
  display: block;
}
#mobile i {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

@media only screen and (min-width: 368px) {
  .Header .header-nav {
    display: flex;
    padding: 10px;
  }
  .Header .header-nav #navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    width: none;
    box-shadow: none;
    padding: 10px;
    transition: none;
  }
  .Header .header-nav #navbar .play:hover {
    height: 35px;
    width: 35px;
  }

  .Header .header-nav #navbar .stop:hover {
    height: 35px;
    width: 35px;
  }

  .Header .header-nav #navbar .record:hover {
    height: 35px;
    width: 35px;
  }

  .play:hover .about-p {
    position: absolute;
    display: flex;
    color: #1b419e;
    top: 1em;
  }
  .stop:hover .social-p {
    position: absolute;
    display: flex;
    color: #1b419e;
    top: 1em;
  }
  .record:hover .contact-p {
    position: absolute;
    display: flex;
    color: #1b419e;
    right: 2px;
    top: 1em;
  }
  #mobile {
    display: none;
  }
}
