.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #0094d8;
}

.Header a {
  text-decoration: none;
}
.Header .header-logo {
  font-family: "Audiowide", cursive;
  margin-left: 10px;
  color: #000000;
}

/*This is the nav, and ul, for devices with a min-width of 368px */
.Header .header-nav {
  display: none;
}

.Header .header-nav ul {
  display: none;
}

.Header .header-nav ul .play {
  display: none;
}

.Header .header-nav ul .stop {
  display: none;
}

.Header .header-nav ul .record {
  display: none;
}

.Header p {
  display: none;
}

@media only screen and (min-width: 368px) {
  .Header .header-nav ul .play:hover {
    border-top: 30px solid transparent;
    border-left: 35px solid #87e628;
    border-bottom: 30px solid transparent;
  }

  .Header .header-nav ul .stop:hover {
    height: 35px;
    width: 35px;
  }

  .Header .header-nav ul .record:hover {
    height: 35px;
    width: 35px;
  }

  .play:hover .about-p {
    position: absolute;
    display: flex;
    color: #f2f4f1;
    right: -20px;
    z-index: 10;
  }
  .stop:hover .social-p {
    position: absolute;
    display: flex;
    color: #1b419e;
    top: 1em;
    z-index: 10;
  }
  .record:hover .contact-p {
    position: absolute;
    display: flex;
    color: #f2f4f1;
    right: 2px;
    top: 1em;
    z-index: 10;
  }
}
