.Main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Main p {
  position: relative;
  bottom: 25%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
  color: #f2f4f1;
  font-family: "Delicious Handrawn", cursive;
  animation-delay: 2.1;
  text-shadow: 5px 5px 3px #000, 6px 30px 3px #57ef57, 5px 55px 3px #c06cbd,
    5px -14px 3px #c61717, 5px -37px 3px rgba(251, 255, 0, 0.769),
    5px 10px 3px #000;
}

.Main span {
  opacity: 0;
  animation: word-fade-in 1s ease-in-out forwards;
}

@keyframes word-fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#beats-span {
  animation-delay: 0s;
}

#rhymes-span {
  animation-delay: 0.8s;
}

#code-span {
  animation-delay: 1.4s;
}

#life-span {
  animation-delay: 2s;
}
