* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .App {
  height: 100vh;
  background-color: #1b419e;
} */

@keyframes move-it {
  0% {
    background-position: initial;
  }
  100% {
    background-position: 100px 0px;
  }
}

.App {
  height: 100vh;
  background: repeating-linear-gradient(
    45deg,
    #1b419e,
    #1b419e 5%,
    #3264e0 5%,
    #3264e0 10%
  );
  background-size: 100px 100px;
  animation: move-it 3s linear infinite;
}
